{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    {% endblock meta %}

    <title>{% block title %}{% endblock title %}</title>

    {% block link %}

        <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.compat.css"
  />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/favicon.png' %}"/>


    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    
    {% endblock link %}

           <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
              <script>
              new WOW().init();
            </script>


</head>
<body>

    {% block header %}
    
    {% endblock header %}
    
    {% block body %}
    
    {% endblock body %}


    {% block footer %}
   
    {% endblock footer %}


</body>

{% block javascript %}

<!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/popper/popper.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/scrollreveal/scrollreveal.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'js/contact.js' %}"></script> 

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/app.js' %}"></script>
            <script>

{% comment %} $(function() {
  $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('active');
}); {% endcomment %}
$(document).ready(function(){

$(window).scroll(function(e){ 
              var $el = $('#navbar'); 

              if ($(this).scrollTop() > 500){ 
                  $('#navbar').css({'top': '-600px'}); 
              
              }
             
            });     


});

</script>

<script>
var prevScrollpos = window.pageYOffset;
window.onscroll = function() {
var currentScrollPos = window.pageYOffset;
  if (prevScrollpos > currentScrollPos) {
    document.getElementById("navbar").style.top = "0";
  } 
  prevScrollpos = currentScrollPos;
}
</script>

{% endblock javascript %}
</html>