
{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include "header.html" %}
{% endblock header %}

{% block body %}


  <!--/ Contact Star /-->
  <section class="contact">
    <div class="container">
      <div class="row">
      
        <div class="col-sm-12 section-t8-login">
        
               <h2 class="register-h2"> Login Yourself! </h2>
              <form class="form-a contactForm-register" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                  {% include 'messages.html' %}
                <div class="row">
                  
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="text" placeholder="Username"  name="username" class="form-control form-control-lg form-control-a" data-rule="minlen:4" data-msg="Please enter at least 4 charcters">
                      <div class="validation"></div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="password" placeholder="Password"  name="password" class="form-control form-control-lg form-control-a" data-rule="minlen:4" data-msg="Please enter at least 8 digits">
                      <div class="validation"></div>
                    </div>
                  </div>
                  
                  <div class="col-md-12 reg-btn">
                    <button type="submit" class="btn btn-a ">Login </button>
                  </div>

          

                </div>
              </form>
            </div>
            
          
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Contact End /-->












{% comment %} 
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div> {% endcomment %}




{% endblock body %}

{% block footer %}

  {% include "footer.html" %}

{% endblock footer %}
{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> Login </h1>

<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Enter Username">
    <input type="password" name="password" placeholder="Enter password">
    <input type="submit">
</form>


</body>
</html> {% endcomment %}